.vertical-tweak {
  min-height: 55%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 55vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.mountain-background {
    background-image: url("../images/mountainclouds.jpg");
    background-repeat: no-repeat;
}

.white-text {
	color: white;
}

.pretty-text {
	font-family: 'Raleway', sans-serif;
}

.boxy {
	background-color: #eaeaea;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 5px;
}

.background-color {
  background-color: #eaeaea;
}

.content-box {
  padding-top:7px;
  padding-bottom:7px;
  background-color: white;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 5px;
}

.tweet-box {
  background-color: #e6f1ff;
  border-style: solid;
  border-color: #2C3E50;
  border-width: 3px;
  border-radius: 5px;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.roundify {
  border-radius: 25px;
  margin:0 auto;
}

.profile-btn {
    margin-top: 20px;
}

.bottom-border {
  border-color: #eaeaea;
  border-bottom: 1px;


}

.gi-2x {
  font-size: 1.2em;
}

.gi-5x {
  font-size: 5em;
}

.padding-right {
  padding-right: 14em;
}

.left-divider {
  padding-right: 1em;
}

.spacer {
  height: 15px;
}

.small-spacer {
  height: 7px;
}

.xs-spacer {
  height: 2px;
}



/*---------------Button STYLING-----------------*/

.navbtn{
      margin-top: 7px;
    }

.invis-btn {
  border-color: transparent;
  background-color: transparent;
  color: black;
  font-size: 1.5em;
  padding-right: 30px;
  padding-left: 30px;
}

.invis-btn:focus {
  outline:0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

/*---------------Pic STYLING-----------------*/

.profile-pic {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-badge {

    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
}

.bottom-border .profile-badge {
  margin-top: 13px;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 8px;
}


.div-style .div-style a:visited, .div-style a:link, .div-style a:active
{
    text-decoration: none;
    color: black;
}

.div-style:hover {
  background-color: #f0f0f5;
}

.user-pic {
  max-width: calc(100% - 20px);
  display: block;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 8px;
}

/*---------------FLASH MESSAGE STYLING-----------------*/

.alert {
  text-align: center;
   font-weight: bold;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   border-radius: 4px 4px 4px 4px;
   margin-bottom: 18px;
   padding: 12px 25px 12px 24px;
   -moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
   -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
   box-shadow: 3px 3px 1px 1px #CCCCCC;
}
.alert-success {
   background-color: #66E167;
   border-color: #D6E9C6;
   color: black;
   padding-top: 20px;
}

.alert-error {
   background-color: #ff4d4d;
   border-color: #D6E9C6;
   color: black;
   padding-top: 20px;
}

/*---------------Modal STYLING-----------------*/

#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#modal-content, #modal-content2 {
    display: none;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    height: 120px;
    left: 50%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 300px;
    z-index: 1000;
}

#modal-background.active, #modal-content.active, #modal-content2.active {
    display: block;
}​

/***********Pic Input Styling************/


input[type=text] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.inline-input input[type=text] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.inline-input:focus {
  border-color: #2c3e50;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(44, 62, 80, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(44, 62, 80, 0.6);
}
.inline-input::-moz-placeholder {
  color: #acb6c0;
  opacity: 1;
}
